<wm-page name="googlemap" data-ng-controller="GooglemapsController">
    <wm-view name="googlemapview" style="height:{{height}};" class="container" backgroundcolor="#fff">
        <ng-map id="map" default-style="false" map-initialized="onMapLoad" class="full-height full-width" center="{{center}}" zoom="{{zoom}}" draggable="true">
            <div ng-repeat="marker in markersData">
                <marker position="{{marker.latlng}}" on-click="showInfoWindow(event, marker)" icon="{{marker.iconData}}">
                </marker>
            </div>
            <shape data-ng-if="perimeter" name="circle" ng-repeat="shape in markersData" no-watcher="true"
                   stroke-color="{{shape.color}}"
                   stroke-opacity="0.5"
                   stroke-weight="2"
                   fill-color="{{shape.color}}"
                   fill-opacity="0.35"
                   center="{{shape.latlng}}"
                   radius="{{shape.radius}}">
            </shape>
            <directions
                    ng-if="directionsData.wayPoints"
                    travel-mode="{{travelmode}}"
                    waypoints="{{directionsData.wayPoints}}"
                    origin="{{directionsData.origin}}"
                    destination="{{directionsData.destination}}">
            </directions>
            <directions
                    ng-if="!directionsData.wayPoints"
                    travel-mode="{{travelmode}}"
                    origin="{{directionsData.origin}}"
                    destination="{{directionsData.destination}}">
            </directions>
            <traffic-layer data-ng-if="trafficlayer"></traffic-layer>
        </ng-map>
    </wm-view>
</wm-page>